body{
  background-color: black;
}

.page {
  border-style: double;
  border-radius: 10%;
  padding: 200px;
}

#map { 
	height: 400px;
}

ul.hotel{
	height:400px; 
	overflow:hidden; 
	overflow-y:scroll;
  padding: 20px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}

#generalList li.hotel.green { background-color: #00cc00; }

#createdCollections li.blue { background-color: #3399ff; }

#banner {
  max-height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}